In [1]:
# Setup imports and short-form names for each of the packages needed for data processing and visualizations
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline
# seaborn does not appear to use this inline command
#%seaborn inline

In [8]:
# Read data from the file and store in the variable `data`
data = pd.read_csv('Assign_data.csv')

# Print the first 10 rows of the data
# print('First 10 rows of data:')
data.head(10)

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,Alabama,2313.0,52.2
1,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,Alaska,294.0,55.9
2,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,Arizona,2214.0,44.8
3,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,Arkansas,1287.0,47.6
4,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,California,9198.0,28.7
5,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,Colorado,1519.0,39.0
6,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,Connecticut,1034.0,29.3
7,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,Delaware,267.0,35.3
8,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,District of Columbia,161.0,28.4
9,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,Florida,5961.0,35.7

In [7]:
# Print the last 5 rows of the data
# print('\nLast 5 rows of data:')
data.tail(5)

Last 5 rows of data:

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
15023,2015,Septicemia (A40-A41),Septicemia,Virginia,1187.0,13.0
15024,2015,Septicemia (A40-A41),Septicemia,Washington,501.0,6.3
15025,2015,Septicemia (A40-A41),Septicemia,West Virginia,348.0,13.9
15026,2015,Septicemia (A40-A41),Septicemia,Wisconsin,517.0,7.2
15027,2015,Septicemia (A40-A41),Septicemia,Wyoming,46.0,7.1

In [3]:
# Print summary information on the data table columns
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15028 entries, 0 to 15027
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     15028 non-null  int64
 1   113 Cause Name           15028 non-null  object
 2   Cause Name               15028 non-null  object
 3   State                    15028 non-null  object
 4   Deaths                   15013 non-null  float64
 5   Age-adjusted Death Rate  14917 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 704.6+ KB
None

In [4]:
# Print the number of empty values in each column
print("Number of empty values:")
print(data.isna().sum())

# Print the number of null values in each column
print("\nNumber of null values:")
print(data.isnull().sum())

Number of empty values:
Year                         0
113 Cause Name               0
Cause Name                   0
State                        0
Deaths                      15
Age-adjusted Death Rate    111
dtype: int64

Number of null values:
Year                         0
113 Cause Name               0
Cause Name                   0
State                        0
Deaths                      15
Age-adjusted Death Rate    111
dtype: int64